body{
	background-color:#dacfc7b0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-left: 4em;
	margin-right: 4em;
	cursor: crosshair;
}
.intro{
	font-style: normal;
	text-align: center;
}
.heading{
	font-size: 2em;
	font-weight: bolder;
}
.prof{
	font-size: 1.5em;
}
.summary{
	font-size: 1.25em;
	text-transform: uppercase;
}
.contactinfo{
	font-size: 1em;
	text-align: center;
}
.subheading{
	font-size: 1.5em;
	font-weight: bolder;
	color:#F29436;
	text-decoration: none;
	padding-left: 1em;
	border-top-style:solid;
	border-top-width:0.05em;
	border-color: gray;
}
.jobtitle{
    font-size: 1em;
    color: #4A6085;
    font-weight: 600;
	text-align: left;
	text-decoration: none;
} 
.jobplace{
    font-size: 1em;
    color: #4A6085;
    font-weight: 400;
	text-align: left;
	text-decoration: none;
} 
.data{
	font-size: 0.8em;
	color: #4A6085;
	font-weight: 400;
	text-align: left;
	text-decoration: none;
}
.exp_info{
	font-size: 1em;
	color: #4A6085;
	text-align: justify;
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.social{
	padding-left: 1em;
}
/* Links */
a:link {
    text-decoration: none;
	color:#4A6085
}
a:hover{
	color:#F29436;
}
a:visited{
	text-decoration: none;
	color:#4A6085
}
/* Footer */
footer{
	background-color:#393F52;
	color:#4A6085;
	text-align: center;
}